{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil - Regards Singuliers
{% endblock %}

{% block body %}
	<div class="container">
		<div class="profile-edit-container">
			<h1>Modifier mon profil</h1>

			{{ form_start(form, {'attr': {'class': 'profile-form'}}) }}

			{{ form_row(form.firstname)}}

			{{ form_row(form.name)}}

			{{ form_row(form.email) }}

			{{ form_row(form.phone) }}

			<div class="form-actions">
				<a href="{{ path('app_profile') }}" class="btn btn-secondary">Annuler</a>
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
