{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Carrousel des réalisations -->
    <div class="slider">
        <div class="swiper">
            {% for realisation in latest_realisations %}
                <div class="swiper-slide">
                    <img src="{{ asset('uploads/realisations/' ~ realisation.mainImage) }}" 
                         alt="{{ realisation.title }}"
                         class="slider-img">
                    <div class="slider-content">
                        <h2 class="slider-title">{{ realisation.title }}</h2>
                        <a href="{{ path('realisation_show', {'id': realisation.id}) }}" 
                           class="slider-link">
                            En savoir plus
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {# <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> #}
    </div>

    <div class="content">
        <div class="cta">
            <a href="{{ path('realisations') }}" 
               class="btn">
                Voir toutes nos réalisations
            </a>
        </div>

        <!-- Section des prestations -->
        <h2 class="section-title">Nos prestations</h2>
        <div class="services">
            {% for service in services %}
                <div class="service">
                    <div class="service-content">
                        <h3 class="service-title">{{ service.title }}</h3>
                        <p class="service-description">{{ service.description|striptags|length > 150 ? service.description|striptags|slice(0, 150) ~ '...' : service.description|striptags }}</p>
                        <a href="{{ path('prestation_show', {'id': service.id}) }}" 
                           class="service-link">
                            En savoir plus
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endblock %}