{% extends 'auth_base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="auth-container">
        <div class="register-layout">
            <div class="form-side">
                {{ form_start(registrationForm, {'attr': {'class': 'auth-form'}}) }}
                    <a href="{{ path('home') }}" class="form-title">
                        <h1>regards singuliers</h1>
                        <span>Architecture d'intérieur</span>
                    </a>

                    {% if app.flashes('verify_email_error') is not empty %}
                        <div class="alert alert-danger">
                            {{ app.flashes('verify_email_error')|first }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword.first) }}
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.plainPassword.second) }}
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <label for="{{ registrationForm.agreeTerms.vars.id }}">
                                J'accepte les <a href="{{ path('cgu') }}" target="_blank">conditions générales d'utilisation</a> et la <a href="{{ path('privacy') }}" target="_blank">politique de confidentialité</a>
                            </label>
                        </div>
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>

                    <button type="submit">S'inscrire</button>

                    <div class="form-footer">
                        <a href="{{ path('login') }}">Déjà inscrit ? Se connecter</a>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="image-side"></div>
        </div>
    </div>
{% endblock %} 