{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="page-container">
        <h2>{{ page_title }}</h2>

        <div class="">
            {% for service in services %}
                <div class="">
                    <div class="">
                        <h5 class="">{{ service.title }}</h5>
                        <p class="">{{ service.description|raw }}</p>
                        <p class="">
                            <strong>Prix :</strong> {{ service.price|number_format(0, ',', ' ') }} €
                        </p>
                    </div>
                    <div class="">
                        <a href="{{ path('prestation_show', {'slug': service.slug}) }}" 
                           class="">
                            Voir
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}