{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reservation/date') }}
{% endblock %}

{% block body %}
    <div class="date-container">
        <div class="date-content">
            <div class="service-info" data-service-id="{{ service.id }}">
                <h1 class="service-title">{{ service.title }}</h1>
                <p class="service-description">{{ service.description }}</p>
                <div class="price-info">
                    <div class="price-row">
                        <span>Prix total :</span>
                        <span>{{ service.price }}€</span>
                    </div>
                    <div class="price-row">
                        <span>Acompte à verser :</span>
                        <span>{{ service.price * 0.5 }}€</span>
                    </div>
                </div>
            </div>

            <div class="calendly-container">
                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="{{ calendly_url }}" style="min-width:320px;height:700px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                <!-- Calendly inline widget end -->
            </div>
        </div>
    </div>

    <div data-csrf-token="{{ csrf_token('process_date') }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reservation/date') }}
{% endblock %} 