{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reservation/payment') }}
{% endblock %}

{% block body %}
    <div class="payment-container">
        <div class="payment-content">
            <div class="service-info">
                <h1 class="service-title">{{ service.title }}</h1>
                <p class="service-description">{{ service.description|raw }}</p>
                <div class="price-info">
                    <div class="price-row">
                        <span>Prix total :</span>
                        <span>{{ service.price }}€</span>
                    </div>
                    <div class="price-row">
                        <span>Acompte à verser :</span>
                        <span>{{ deposit_amount }}€</span>
                    </div>
                </div>
            </div>

            <form id="payment-form" class="payment-form">
                <div id="payment-element"></div>
                <button id="submit" class="payment-button">
                    <span class="loading"></span>
                    Payer l'acompte
                </button>
                <div id="payment-message"></div>
            </form>
        </div>
    </div>

    <div 
        data-stripe-key="{{ stripe_public_key }}"
        data-client-secret="{{ client_secret }}"
        data-return-url="{{ url('reservation_success') }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    {{ encore_entry_script_tags('reservation/payment') }}
{% endblock %} 