{% extends 'base.html.twig' %}

{% block title %}{{ post.metaTitle ?? post.title }} - Regards Singuliers{% endblock %}

{% block body %}
<div class="container">
    <article class="blog-post-detail">
        <header>
            <h1>{{ post.title }}</h1>
            
            <div class="post-meta">
                <span class="date">{{ post.publishedAt ? post.publishedAt|date('d/m/Y') : post.createdAt|date('d/m/Y') }}</span>
            </div>
        </header>

        {% if post.featuredImage %}
            <div class="featured-image">
                <img src="{{ asset(post.featuredImage) }}" alt="{{ post.title }}">
            </div>
        {% endif %}

        <div class="post-content">
            {{ post.content|raw }}
        </div>

        <footer>
            <a href="{{ path('app_blog') }}" class="back-to-blog">
                Retour au blog
            </a>
        </footer>
    </article>
</div>
{% endblock %}
