{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="contact-form-container">
    <h1>Contactez-moi</h1>
    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.civilite) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.telephone) }}</div>
        </div>
        {{ form_row(form.entreprise) }}
        {{ form_row(form.localisation) }}
        {{ form_row(form.description) }}
        <button type="submit" class="contact-form-button">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}