<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/styles/app.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		{% endblock %}
	</head>
	<body>
		{% if is_granted('ROLE_ADMIN') %}
			<a href= class="admin-button" title="Administration">
				
			</a>
		{% endif %}

		<header class="site-header">
			<nav class="site-nav">
				<a href="{{ path('home') }}" class="site-logo">
					<h1>regards singuliers</h1>
					<span>Priscilia Leote - Architecte d'intérieur</span>
				</a>
				<div class="nav-links">
					<li><a href=>Le Studio</a></li>
                    <li><a href=>Réalisations</a></li>
                    <li><a href=>Prestations</a></li>
                    <li><a href=>Blog</a></li>
                    <li><a href=>Contact</a></li>
				</div>
                <div class="nav-auth">
					{% if app.user %}
						<a href="{{ path('app_profile') }}" class="connexion">Mon Profil</a>
						<a href="{{ path('app_logout') }}" class="connexion">Déconnexion</a>
					{% else %}
						<a href="{{ path('app_login') }}" class="connexion">Connexion</a>
					{% endif %}
				</div>
			</nav>
		</header>

		<main class="main-content"> 
            {% block body %}{% endblock %}
		</main>

        <footer class="site-footer">
            <div class="footer-content">
                <div class="footer-brand">
                    <a href="{{ path('home') }}" class="footer-logo">
                        <h2>regards singuliers</h2>
                        <span>Priscilia Leote - Architecte d'intérieur</span>
                    </a>
                    <div class="social-links">
                        <a href="#" target="_blank" aria-label="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank" aria-label="Pinterest">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>

                <div class="footer-nav">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href=>Le Studio</a></li>
                        <li><a href=>Réalisations</a></li>
                        <li><a href=>Prestations</a></li>
                        <li><a href=>Blog</a></li>
                        <li><a href=>Contact</a></li>
                        <li><a href=>F.A.Q</a></li>
                    </ul>
                </div>

                <div class="footer-contact">
                    <h3>Coordonnées</h3>
                    <ul>
                        <li>regards singuliers</li>
                        <li>Adresse, Bretagne</li>
                        <li>
                            <a href="mailto:contact@regards-singuliers.fr">contact@regards-singuliers.fr</a>
                        </li>
                        <li>Tél: 06 06 06 06 06</li>
                    </ul>
                </div>

                <div class="footer-legal">
                    <h3>Informations Légales</h3>
                    <ul>
                        <li><a href=>C.G.U / C.G.V</a></li>
                        <li><a href=>Confidentialité</a></li>
                        <li><a href=>Mentions légales</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2019 - {{ "now"|date("Y") }} - regards singuliers - Architecte d'intérieur, Bretagne</p>
                <p>Tous droits réservés</p>
            </div>
        </footer>

        
    </body>
</html>
