{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="page-container">
        <h2>{{ page_title }}</h2>

        <div class="realisations-container">
            {% for realisation in realisations %}
                <a href="{{ path('realisation_show', {'id': realisation.id}) }}" class="realisation-item">
                    <div class="realisation-image">
                        <img src="{{ asset('uploads/realisations/' ~ realisation.mainImage) }}" 
                             alt="{{ realisation.title }}"
                             class="image-item">
                    </div>
                    <div class="realisation-content">
                        <h3>{{ realisation.title }}</h3>
                        <p>
                            {{ realisation.content|striptags|length > 150 ? 
                               realisation.content|striptags|slice(0, 150) ~ '...' : 
                               realisation.content|striptags }}
                        </p>
                        <p>Voir le projet</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}